In [6]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\utente\appdata\roaming\python\python311\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install python_dotenv

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python_dotenv in c:\programdata\anaconda3\lib\site-packages (0.21.0)

In [12]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

dotenv.load_dotenv(override=True)
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(sql=query, con=db_engine)

In [112]:
df[["Size", "StandardCost"]].tail(10)

     Size  StandardCost
596    42        294.58
597    44        294.58
598    48        294.58
599    52        294.58
600  None         23.97
601  None         44.95
602  None         53.94
603    44        343.65
604    48        343.65
605    52        343.65

In [2]:
# Quanti dati ci sono in totale? 
#• Quali sono i metadati? 
#• Stampiamo il primo elemento 
#• Stampiamo l'ultimo elemento 
#• Riusciamo a stampare cinque elementi a caso? 
#• Quali sono i colori disponibili?

In [18]:
# Dati in totale
df.shape

(606, 36)

In [22]:
# Metadati
df.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [24]:
df.index

RangeIndex(start=0, stop=606, step=1)

In [36]:
# Primmo elemanto
df.head(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [34]:
# Ultimo elemento
df.tail(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

# Cinque elementi a caso
df.sample(5)

In [46]:
df["Weight"].describe()

count     282.000000
mean       56.193227
std       158.000652
min         2.120000
25%         2.680000
50%        15.420000
75%        24.130000
max      1050.000000
Name: Weight, dtype: float64

In [ ]:
filter_weight = df["Weight"] > 100
filter_df = df[filter_weight]
filter_df

In [56]:
df["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [58]:
# Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo?

In [66]:
mask_price = df["DealerPrice"] > 722.5949

In [74]:
mask_price_df = df[mask_price]
mask_price_df["DealerPrice"].describe()

count      98.000000
mean     1172.840260
std       444.048509
min       728.910000
25%       809.760000
50%      1020.594000
75%      1430.442000
max      2146.962000
Name: DealerPrice, dtype: float64

In [76]:
# • Qual è il prezzo medio per i prodotti di colore blu? 
# • Qual è il prezzo medio per i prodotti di colore rosso o nero? 
# • Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg? 
# • Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento? 
# • Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: c'è un pattern? C'è qualche elemento che non lo segue?

In [80]:
df["Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [ ]:
mask_color = df["Color"] == "Blue"
mask_color_df = df[mask_color]
mask_color_df

In [86]:
mask_color_df["DealerPrice"].describe()

count      28.000000
mean      516.063179
std       451.411385
min        20.186500
25%       200.052000
50%       445.410000
75%       728.910000
max      1430.442000
Name: DealerPrice, dtype: float64

In [96]:
mask_color = df["Color"].isin(["Red", "Black"])
mask_color_df = df[mask_color]
mask_color_df["DealerPrice"].describe()

count     190.000000
mean      550.248187
std       529.414971
min        14.128900
25%       178.967850
50%       388.178450
75%       780.818200
max      2146.962000
Name: DealerPrice, dtype: float64

In [114]:
mask_sw = (df["Size"] == 44) & (df["Weight"] > 10)
mask_sw_df = df[mask_sw]
mask_sw_df["DealerPrice"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DealerPrice, dtype: float64

In [108]:
mask_sw_df[["EnglishProductName", "StandardCost"]]

Empty DataFrame
Columns: [EnglishProductName, StandardCost]
Index: []

In [130]:
diff_df = df[["DealerPrice", "StandardCost"]].tail(20)
diff_df

     DealerPrice  StandardCost
586      461.694        419.78
587      461.694        419.78
588      461.694        419.78
589      461.694        419.78
590      338.994        308.22
591      338.994        308.22
592      338.994        308.22
593      338.994        308.22
594      338.994        308.22
595      323.994        294.58
596      323.994        294.58
597      323.994        294.58
598      323.994        294.58
599      323.994        294.58
600       32.394         23.97
601       60.744         44.95
602       72.894         53.94
603      323.994        343.65
604      323.994        343.65
605      323.994        343.65

In [132]:
diff_df.describe()

       DealerPrice  StandardCost
count    20.000000     20.000000
mean    314.986500    292.346500
std     124.124257    117.922086
min      32.394000     23.970000
25%     323.994000    294.580000
50%     323.994000    308.220000
75%     338.994000    343.650000
max     461.694000    419.780000